.otp__box {
  margin: 0 auto;
  max-width: 90%;
  margin-top: 20px;
  padding: 30px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
}

.otp__header {
  margin-bottom: 50px;
}

.otp__input {
  height: auto;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.otp__captcha {
  padding-top: 0;
}

.otp__btn {
  font-size: 16px;
  margin: 5px;
}

.otp__btn:hover {
  color: black;
  background-color: #d2d2d2;
  border-color: #d2d2d2;
}

.otp__modal {
  margin-top: 10%;
  padding: 50px 10px;
}

.otp__alert {
  max-width: 90%;
  text-align: center;
  margin:  0 auto;
  margin-top: 10px;
}

.otp__logo {
  max-width: 100px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}