* {
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .app_container {
    max-width: 90%; 
    margin: 0 auto;
  };
}

@media only screen and (max-width: 767px) {
  /* phones */
  .app_container {
    max-width: 95%; 
    margin: 0 auto;
  };
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  .app_container { 
    width: 97%;
    padding: 10px;
  };
}

.app_container {
  overflow-x: hidden;
  font-size: 16px;
  padding: 10px;
  max-width: 700px;
}

.main_layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

select {
  font-size: 25px;
} 

a:hover {
  text-decoration: none;
  color: black;
}

.main { 
  font-family: 'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
  margin-top: 10px;
}

.main h1 {
  font-size: 1.5em;
  margin-top: 20px;
}

.main h2 {
  font-size: 1.5em;
  margin-top: 16px;  
}

/* common */

.menu {
  position: fixed;
  bottom: 5px;
  left: 5px;
  padding: 5px;
  background-color:grey;
}

.nav__back {
  padding-top: 10px;
}