* {
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .app_container {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  .app_container {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  .app_container {
    width: 97%;
    padding: 10px;
  }
}

.app_container {
  overflow-x: hidden;
  font-size: 16px;
  padding: 10px;
  flex-grow: 1;
}

.main_layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

select {
  font-size: 25px;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active,
a:focus {
  text-decoration: none;
  color: lightblue;
}

a:visited {
  text-decoration: none;
  color: lightslategray;
}

.main {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
    'Lucida Typewriter', monospace;
  margin-top: 10px;
  max-width: 600px;
  padding: 5px;
  margin: 0 auto;
  overflow: hidden; /* to hide scrollbar on gid-view change */
}

.main--full {
  max-width: 100%;
}

.main h1 {
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: 600;
}

.main h2 {
  font-size: 1.4em;
  margin-top: 16px;
}

/* common */

.menu {
  position: fixed;
  bottom: 5px;
  left: 5px;
  padding: 5px;
  background-color: grey;
}

.nav__back {
  padding-top: 10px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .nav__back {
    display: flex;
    justify-content: space-around;
  }
}

.main__icon_btn {
  width: 15px;
  margin: 0 10px;
  opacity: 0.7;
}

.main__icon_btn:hover {
  opacity: 1;
  cursor: pointer;
}

/* reset bootstrap z-index */
.input-group .form-control,
.input-group-btn:last-child > .btn,
.btn-group > .btn.active {
  z-index: 0;
}

/* scroll bar start */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(138, 206, 149);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 134, 134);
}
/* scroll bar end */
