.select-lang {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.select-lang__link {
  font-size: 20px;
  display: block;
  cursor: pointer;
}

.select-lang--mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .select-lang {
    display: none;
  }

  .select-lang--mobile {
    display: flex;
  }
}
