.topic_list__edit {
  float: right;
  margin: 20px 5px 0;
}

.topic_list__btn {
  border-radius: 10px;
}

.topic_list__draft {
  background-color: #fff;
  border-radius: 5px;
}

.topic_list__hide {
  display: none;
}

.topic_list__step {
  opacity: 0.95;
  font-size: 12px;
  margin-left: 5px;
  padding-left: 15px;
  border-left: 2px dashed lightgray;
}

.topic_section__badge {
  font-size: 11px;
  padding: 5px;
  background-color: #bfbfbf;
}

.topic_section__expand {
  font-size: 18px;
  padding: 6px;
  position: relative;
  cursor: pointer;
}

.topic_section__expand:hover {
  transform: scale(1.2);
}

.topic_section__expand:before {
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 100%;
  height: 6px;
  width: 6px;
  content: ' ';
  background-color: #fff;
}


.point_pulse {
	animation: point_pulse 1s infinite;
  transform-origin:70% 70%;
  animation-timing-function: linear;
}

@keyframes point_pulse {
	50% { background-color: #fff; }
}
