.card__item {
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 2px 5px 7px rgb(216, 216, 216);
}

.card__item:hover {
  margin-bottom: 10px;
}

.card__title-text {
  font-weight: 600;
  color: rgb(63, 63, 63);
}

.card__title {
  padding: 1px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.card__description {
  padding: 10px;
  cursor: pointer;
}

.card__text {
  overflow: hidden;
  max-height: 200px;
  padding-bottom: 5px;
}

.card__data__hours {
  padding: 0 5px;
  background-color: #fff;
  border-bottom: 2px solid #f0ad4e;
  border-radius: 2px;
  margin: 0 10px;
}
