.card__item {
  border-radius: 6px;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 2px 5px 7px rgb(216, 216, 216);
  background-color: #fff;
  overflow: hidden;
  height: 240px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__draft {
  background: rgb(241, 241, 241);
}

.card--draggable {
  transition: transform 0.5s;
}

.card--dragging {
  opacity: 0.2;
}

.card--active {
  transform: rotate(5deg) scale(0.9) translateX(-5px);
}

.card__title-text {
  font-weight: 600;
  color: rgb(63, 63, 63);
}

.card__title {
  padding: 1px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.card__description {
  padding: 10px;
  cursor: pointer;
}

.card__date {
  margin-left: 10px;
  padding: 5px 0;
}

.card__font {
  color: rgb(170, 170, 170);
  font-size: 14px;
}

.card__text {
  overflow: hidden;
  padding-bottom: 5px;
}

.card__data {
  margin: 0 10px;
}

.card__progres {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.card__comments {
  float: right;
  min-width: 55px;
  padding-right: 10px;
}

.card_comment_img {
  max-width: 20px;
  margin-right: 5px;
  display: inline;
}
