.transactions__panel {
  font-size: 14px;
}

.transactions__header {
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

.transactions__header a {
  color: inherit;
}

.transactions__header a:hover {
  color: #5cb85c;
}

.transactions__line {
  color: #333;
  border-color: #ddd;
  margin: 5px 0;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.transactions__table {
  text-align: center;
}

.investments__sell {
  margin-left: 15px;
}
