
.program_toggle {
  text-transform: uppercase;
  font-size: 12px;
  position: fixed;
  top: 0px;
  left: 15px;
  padding: 3px 5px; 
  color: #fff;
  background-color: #76b976 ;
  border-radius: 0 0 5px 5px;
  z-index: 3;
  cursor: pointer;
  transition: all 0.25s ease-in-out;  
}

.program_toggle:hover {
  background-color: #449d44;  
}