.progress_bar {
  margin: 15px 0 5px;
}

.progress_bar__assumed {
  background-color: #f7be5a;
}

.progress_bar__over {
  background-color: #5ed091;
}

.progress_bar__preview {
  height: 20px;
  opacity: 0.75;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}
