.gird__masonry {
  outline: none;
  max-width: 1200px;
  /* margin-left: 20px; */
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-direction: row;
}

.grid__row_item {
  flex: 1 1 0;
  padding: 5px;
}
