.gird__masonry {
  outline: none;
}

.grid__row {
  display: flex;
  flex-direction: row;
}

.grid__row_item {
  flex: 1 1 0;
  padding: 5px;
}

.grid__active_item h4 {
  animation: blink 1s ease;
  animation-iteration-count: 1;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
