@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  body { margin-left: 30%; margin-right: 30%; };
}

@media only screen and (max-width: 767px) {
  /* phones */
  body { 
    width: 97%;
    padding: 10px;
  };
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  body { 
    width: 97%;
    padding: 10px;
  };
}

body{
  overflow-x: hidden;
  font-size: 16px;
}

select {
  font-size: 25px;
} 

a:hover {
  text-decoration: none;
  color: black;
}

.main { 
  font-family: 'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace; 
}

.main h1 {
  font-size: 1.5em;
  margin-top: 20px;
}

.main h2 {
  font-size: 1.5em;
  margin-top: 16px;  
}

/* common */

.menu {
  position: fixed;
  bottom: 5px;
  left: 5px;
  padding: 5px;
  background-color:grey;
}

.nav__back {
  padding-top: 10px;
}