.splash__container {
  background-color: rgb(211, 253, 239);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 13; /* .nav_bar conflict */
  background-image: url(https://hypercortex.network/assets/images/mountains.jpg);
  background-blend-mode: darken;
}

.splash__content {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  flex-grow: 1;
}
