.topics__back {
  color: gray;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.topics__back:hover {
  box-shadow: 5px black;
  color: black;
}

.topics__content-item {
  margin: 10px;
}

.comment__owner {
  text-align: right;
}