.topics__back {
  color: gray;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.topics__back:hover {
  box-shadow: 5px black;
  color: black;
}

.topics__content-item {
  margin: 10px;
  margin-bottom: 70px;
}

.topic__tags {
  background-color: #f1f1f1;
  padding: 0 5px;
  border-radius: 10px;
  margin: 5px;
}

.comment__owner {
  text-align: right;
}

.comment__section {
  margin: 20px 0;
}

.comment__placeholder {
  margin: 20px 0;
  padding: 0 5px;
  padding-top: 9px;
  padding-bottom: 1px;
  background-color: #f1f1f1;
  border-radius: 5px;
}