.topics__back {
  color: gray;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.topics__back:hover {
  box-shadow: 5px black;
  color: black;
}

.topic__container {
  overflow: auto;
}

.topics__content-item {
  margin: 10px;
  margin-bottom: 70px;
}

.topic__tag-box {
  overflow: hidden;
  height: auto;
  max-height: 45px; 
  transition: max-height 0.7s ease;
}

.topic__tag-box:hover {
  max-height: 600px; 
}

.topic__tags {
  margin: 5px;
}

.topic__edit {
  float: right;
}

.topic__badge {
  font-size: 11px;
  padding: 5px;
  text-align: center;
  background-color: #bfbfbf;
}

.comment__owner {
  text-align: right;
}

.comment__section {
  margin: 20px 0;
}

.comment__placeholder {
  margin: 20px 0;
  padding: 0 5px;
  padding-top: 9px;
  padding-bottom: 1px;
  background-color: #f1f1f1;
  border-radius: 5px;
}