.new_btn {
  padding: 0 5px;
  border: 2px solid #5cb85c;
  background-color: #5cb85c;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.new_btn:hover {
  color: white;
  background-color: #449d44;
}

.new_btn:active,
.new_btn:focus {
  color: white;
}