.topics__content {
  min-height: calc(100vh - 100px);
  
}
.paginator {
  vertical-align: middle;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.paginator__page {
  width: 20px;
  margin: auto;
}

.paginator__btn {
  outline: 0;
  padding: 10px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}

.paginator__left {
  border-left: 1px solid #ccc;
  float: right;
}

.paginator__right {
  float: left;  
  border-right: 1px solid #ccc;
}