.tab_container {
  width: 600px;
  position: relative;
}

@media (max-width: 900px) {
  .tab_container {
    width: 400px;
  }

  .stream_tab {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .tab_container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* width: 400px; */
  }

  .stream_tab {
    width: 400px;
  }
}

.stream_tab {
  padding: 10px;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  /* min-width: 100%; */
  width: 600px;
  border-left: 1px solid rgb(236, 236, 236);
  background-color: rgb(247, 247, 247); 
}


.stream_tab__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.stream_tab__header {
  font-weight: 200;
  padding: 10px;
  margin: 0 auto;
}

.stream_tab__instance {
  flex: 1 200px;
  height: 100px;
  border: 10px dashed lightgray;
  padding: 10px;
  margin: 10px;
}