
/* StreamTab Layout -- Start */

.stream_tab__scrollable {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 150px;
}

.stream_tab__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .stream_tab__container {
    display: block;
    word-wrap: break-word;
  }

  .stream_tab__full_icon {
    display: none;
  }
}

/* StreamTab Layout -- End */


/* StreamTab Content -- Start */

.stream_tab__header {
  font-weight: 200;
  padding: 10px;
  margin: 0 auto;
  margin-top: 15px;
}

.stream_tab__select {
  margin-top: 30px;
}

.stream_tab__instance-box {
  position: relative;
  flex: 1 250px;  
}

.stream_tab__instance {
  padding: 10px;
  margin: 10px;
  height: 200px;
  overflow-y: hidden;
  border: 1px solid lightgray;
}

.instance--hasdata:hover {
  border-color: rgb(180, 250, 180);
  cursor: pointer;
}

.instance--nodata:hover {
  border-color: rgb(236, 177, 177);  
}

.instance__show {
  color: rgb(44, 44, 44);
  padding: 0 5px;
  position: absolute;
  background-color: #cccccc;
  opacity: 0.8;
  bottom: 10px;
  left: 25px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgb(109, 109, 109);
  transition: all 0.25s ease-in-out;
}

.instance__show:hover {
  opacity: 0.9;  
  bottom: 15px;  
  box-shadow: 3px 5px 10px rgb(109, 109, 109);
}

.instance__text {
  color: rgb(163, 163, 163);
  font-style: italic; 
}

.stream_tab__full_icon {
  position: absolute;
  cursor: pointer;
  right: 60px;
  top: 36px;
  opacity: 0.2;
}

.stream_tab__full_icon:hover {
  opacity: 1;
}

.stream_tab__close {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.stream_tab__close:hover {
  opacity: 1;
}

.stream_tab__close:before, .stream_tab__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 1px;
  background-color: #333;
}

.stream_tab__close:before {
  transform: rotate(45deg);
}

.stream_tab__close:after {
  transform: rotate(-45deg);
}
