.topic_view__container {
  margin: 40px 5px 70px;
}

.topic_view__field {
  margin: 10px 0;
}

.topic_view__select {
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
}

.topic_view__modal {
  margin-top: 10%;
  padding: 50px 10px;
}

.topic_view__btn {
  float: right;
}

.topic_view__back {
  margin-right: 5px;
}

.topic_view__draft {
  z-index: 0;
}

/* stabilise flag position */
.input-group > .dropup.input-group-btn {
  vertical-align: top;
}
