.topic_view__container {
  margin: 20px 0 70px 0;
}

.topic_view__field {
  margin: 10px 0;
}

.topic_view__text {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  min-height: 200px;
}

.topic_view__text .ql-snow {
  border: none !important;
  font-family: inherit !important;  
}

.topic_view__select { 
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
} 

.topic_view__modal {
  margin-top: 10%;
  padding: 50px 10px;
}

.topic_view__btn {
  float: right;
}

.topic_view__draft {
  z-index: 0;
}

/* stabilise flag position */
.input-group > .dropup.input-group-btn {
  vertical-align: top;
}
