.topic_view__container {
  margin: 40px 5px 70px;
}

.topic_view__field {
  margin: 10px 0;
}

.topic_view__select {
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  z-index: 11; /* compatibility with the text editor */
}

.topic_view__modal {
  margin-top: 10%;
  padding: 50px 10px;
}

.topic_view__btn {
  float: right;
}

.topic_view__back {
  margin-right: 5px;
}

.topic_view__draft {
  z-index: 0;
}

.topic_view__editor_msg {
  color: #555;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.topic_view__editor_hint {
  color: #555;
  font-size: 0.8em;
  margin: 10px 5px;
}

.topic_view__showcase_handler {
  cursor: pointer;
  background-color: #e8e8e8;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.topic_view__showcase_handler:hover {
  background-color: rgb(248, 247, 247);
}

.topic_view__showcase_editor {
  border: none;
  outline: none;
  border: 0;
}

.topic_view__showcase_editor .panel-body {
  padding: 0;
}

.topic_view__fill_data {
  margin-top: 10px;
}

/* stabilise flag position */
.input-group > .dropup.input-group-btn {
  vertical-align: top;
}

/* Dropdown overalp */
.Select.is-open {
  position: relative;
  z-index: 1000;
}
