.topics__content {
  min-height: calc(100vh - 100px);
}

.topics__item {
  transition: all 0.25s ease;
  padding: 1px;
}

.topics__title {
  margin-right: auto;
}

.home--hidden {
  display: none;
}

.home__logo {
  max-width: 30px;
  vertical-align: middle;
}

.view_toggle__img {
  max-width: 20px;
  margin-left: 5px;
}

@media (max-width: 401px) {
  .topics__title {
    margin-right: initial;
  }
}