.topics__content {
  min-height: calc(100vh - 100px);
}

.topics__list--grid {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  align-items: stretch;
  /* justify-content: space-between; */
}

.topics__item {
  transition: all 0.25s ease;
  padding: 1px;
}

.topics__item--grid {
  flex-basis: 300px;
  flex-grow: 1;
  margin: 0 5px;
  /* max-width: 350px; */
}

.topics__title {
  margin-right: auto;
}

.home__head {
  max-width: 600px;
}

.home--hidden {
  display: none;
}

.home__logo {
  max-width: 30px;
  vertical-align: middle;
}

.home__settings {
  display: flex;
  justify-content: space-between;
  max-height: 30px;
}

.view_toggle {
  display: flex;
  justify-content: flex-end;
}

.view_toggle__grid_toggle {
  margin-right: 5px;
}

.view_toggle__label {
  margin: 0 5px;
}

@media (max-width: 401px) {
  .topics__title {
    margin-right: initial;
  }

  .home__settings {
    display: inline;
  }
}
