
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 20px;
}

@media (max-width: 401px) {
  .header {
    justify-content: space-around;
  }
}

.header__balance {
  padding-top: 5px;
  margin: 5px 0;
} 
