.topic_list__edit {
  float: right;
  margin: 20px 5px 0;
}

.topic_list__btn {
  border-radius: 10px;
}

.topic_list__draft {
  background-color: #ffffffce;
  border-radius: 5px;
}

.topic_list__hide {
  display: none;
}

.topic_list__step {
  opacity: 0.95;
  font-size: 12px;
  margin-left: 20px;
}

.topic_section__badge {
  font-size: 11px;
  padding: 5px;
  background-color: #bfbfbf;
  cursor: copy;
  transition: transform 0.23s ease;
}

.topic_section__badge:hover {
  transform: scale(1.6);
}
