.server_select__bullet {
  font-size: 11px;
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.server_select__img {
  width: 20px;
}

.server_select__btn--mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .server_select__btn {
    display: none;
  }

  .server_select__img {
    width: 13px;
  }

  .server_select__btn--mobile {
    display: inline-block;
  }
}
