.topics__back {
  color: gray;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.topic__body {
  margin: 20px 0;
}

.topics__back:hover {
  box-shadow: 5px black;
  color: black;
}

.topic__container {
  overflow: auto;
}

.topics__content-item {
  margin: 10px;
  margin-bottom: 70px;
}

.topic__draft {
  margin: 5px 10px;
  border-radius: 3px;
  padding: 5px;
  background-color: rgb(238, 238, 238);
  font-size: 14px;
}

.topic__bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom: 20px;
}

.topic__edit {
  float: right;
  margin-top: 20px;
}

.topic__impact {
  font-size: 16px;
}

.topic__edit_section {
  /* padding: 10px; */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topic__match {
  color: #000;
  font-size: 13px;
  margin: 0 auto;
  display: inline-block;
  min-width: 25px;
  text-align: center;
  margin: 0 5px;
  padding: 0 5px;

  border: 2px solid rgb(205, 107, 127);
  border-radius: 2px;
}

.comment__owner {
  text-align: right;
}

.comment__section {
  /* border-top: 2px solid lightblue; */
  padding: 10px;
  margin: 30px 0;
}

.comment__placeholder {
  margin: 20px 0;
  padding: 0 5px;
  padding-top: 9px;
  padding-bottom: 1px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.tags__title {
  border: 2px solid gainsboro;
  background-color: gainsboro;
  border-radius: 5px;
  padding: 0 5px;
  margin-right: 2px;
  font-size: 14px;
  margin-right: 5px;
}

.topic__link_icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px;
}

.topic__link_icon:hover {
  transform: scale(1.1);
}

.topic__edit_panel {
  border: none;
  margin-bottom: 0px;
}

.topic__category {
  display: inline-block;
  margin-right: 5px;
  margin-left: 0;
  padding: 1px 10px;
}

.topic__categories {
  display: inline;
  margin-left: 5px;
}

.topic__type {
  color: #fff;
  font-size: 13px;
  margin: 0 auto;
  display: inline-block;
  min-width: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(118, 185, 118);
  border: 1px solid rgb(118, 185, 118);
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 0 5px;
}

.topic__fund_data {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
