.balance__hours {
  color: #fff;
  font-size: 13px;
  margin: 0 auto;
  display: inline-block;
  min-width: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(118, 185, 118);
  border: 1px solid rgb(118, 185, 118);
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}

.balance__topic {
  cursor: default;
}

.balance__only {
  margin: 0 5px;
}

.balance__counter {
  color: #fff;
  padding: 5px;
}

.balance__quota {
  color: grey;
  padding: 0 5px;
  background-color: #fff;
  border: 1px solid rgb(118, 185, 118);
  border-radius: 2px;
}

.balance__claimed {
  color: #fff;
  padding: 0 5px;
  background-color: rgb(136, 175, 136);
  border-radius: 2px;
}
