.balance__hours {
  color: #000;
  font-size: 13px;
  margin: 0 auto;
  display: inline-block;  
  min-width: 25px;
  text-align: center;
  margin: 0 5px;
  vertical-align: middle;

  border: 2px solid rgb(205, 107, 127);
  border-radius: 2px;
}

.balance__counter {
  padding: 5px;
}
