@media (max-width: 400px) {
  .pay_checkout__box {
    display: none;
  }
}

.pay_checkout__signin {
  display: flex;
  justify-content: space-around;
}

.pay_checkout__pay {
  text-transform: uppercase;
}
